<!-- Dinamically render Comment's form -->


<!-- <h4><a href="#" id="js-form">Leave Comment</a></h4> -->

<!-- <div id="js-show-form">
</div> -->

<!-- <script type="text/javascript" charset="utf-8">
  $(function() {
    $('a#js-form').on('click', function(e) {
      e.preventDefault();
      var rubyForm = '<%#= j render 'comment_form', locals: @comment %>';
      $('#js-show-form').html(rubyForm);
    })
  })
</script> -->
