<% if @item.comments != [] %>
  <div class="container">
    <div class="thumbnail">
      <% @item.comments.each do |comment| %>
        <h4><%= comment.user.email %>:</h4>
        <p><%= comment.text %></p>
      <% end %>
    </div>
  </div>
<% end %>
