<% if current_user.admin %>
  <h3><%= link_to "Orders", admin_orders_path%></h3>
  <h3><%= link_to "All Items", admin_items_path%></h3>
  <h3><%= link_to "Add Item", new_item_path%></h3>
  <h3><%= link_to "Add Category", new_category_path%></h3>
<% end %>
