<% if current_user.admin %>
  <h4><%= link_to "Orders", admin_orders_path%></h4>
  <h4><%= link_to "All Items", admin_items_path%></h4>
  <h4><%= link_to "Add Item", new_item_path%></h4>
  <h4><%= link_to "Add Category", new_category_path%></h4>
<% end %>