<h1><%= @category.name %></h1>

<% @category.items.each do |item| %>
  <h3><%= link_to "#{item.name} | #{number_to_currency(item.price)}", item_path(item) %></h3>
<% end %>

<% if current_user.admin %>
  <p><%= link_to "Add New Item", new_category_item_path(@category.id)%></p>
<% end %>
