<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Online Store With Rails</h1>
    <p class="lead">
      Enim voluptate slow-carb shabby chic kombucha everyday carry ethical, esse anim chartreuse locavore aliquip fingerstache pug. Fam eu vexillologist edison bulb. Hashtag sed chambray, four loko umami trust fund succulents poutine cardigan cillum humblebrag intelligentsia fam chia consectetur.
    </p>
  </div>
</div>

<div class="row">
  <%= render partial: "item", collection: @items  %>
</div>
