<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pri Etz Store</h1>
    <p class="lead">Hand made artisans crafts for your special judaica needs and more.</p>
  </div>
</div>

<div class="row">
  <%= render partial: "item", collection: @items  %>
</div>
